@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:ital,wght@1,700;1,800&display=swap");

@font-face {
  font-family: "Silka";
  src: url("./fonts/silka-regular-webfont.woff2") format("woff2"),
    url("./fonts/silka-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
